{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-sveden{% endblock %}



{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
  
      <ol>
        <li><a href="/">Главная</a></li>
        <li>{{ page.title }}</li>
      </ol>
      <h1>{{ page.title }}</h1>
    </div>
    </section>
    <section id="services" class="services section-bg">
        <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="row g-5">
        {% for tile in tiles %}
            <div class="col-md-6 col-lg-4 wow bounceInUp aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="icon" style="background: {{ tile.background_color }};"><i class="{{ tile.icon }}" style="color: {{ tile.icon_color }};"></i></div>
                    <h4 class="title"><a href="{{ tile.link }}">{{ tile.title }}</a></h4>
                    <p class="description"></p>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
</div>
{% endblock %}