{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}



{% block content %}
<!--<div class="offcanvas offcanvas-bottom show align-items-center" data-bs-scroll="true" data-bs-backdrop="false" style="height: 70px; background-color:#1bb1dc;" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <div class="container">
    <p class="event">ПРИХОДИ НА ДЕНЬ ОТКРЫТЫХ ДВЕРЕЙ В КТС</p>
    <a class="event" href="/abiturientu/specialtys/signuptoopenkts" target="_blank">Записаться</a>
  </div>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
  </div>
</div>-->
<!-- ======= Hero Section ======= -->
<section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-lg-6 intro-info order-lg-first order-last" data-aos="zoom-in" data-aos-delay="100">
          <h2>Курский техникум связи -<br>единственное учебное <span>заведение</span> в регионе, которое готовит специалистов для отрасли <span>связи</span></h2>
          <div>
            <a href="#about" class="btn-get-started scrollto">Начать</a>
          </div>
        </div>

        <div class="col-lg-6 intro-img order-lg-last order-first" data-aos="zoom-out" data-aos-delay="200">
         <!-- <img src="{% static 'img/logo5.png' %}" alt="" class="img-fluid"></a>-->
	<img src="/media/images/2024logomain.original.png" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'img/aboutimg.png' %}" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">
              <h2>Добро пожаловать!</h2>
              <h3>«С нами связь лучше» - это не просто фраза, по которой узнают «Курский техникум связи», это миссия организации.</h3>
              <p>Мы гордимся своей многолетней историей и тем, что на протяжении всего периода существования осуществляем подготовку специалистов для отрасли связи.</p>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="zoom-in">

    <header class="section-header">
      <h3>Руководство</h3>
    </header>

    <div class="row justify-content-center">
      <div class="col-lg-8">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/media/images/grunevaforindex_Q4N99Es.original.png" class="testimonial-img" alt="">
                <h3>Грунева Анна Александровна</h3>
                <h4>Директор ОБПОУ "КТС"</h4>
                <p>
                  Какова роль образования в жизни человека? Каких людей считают образованными и для чего так необходимо получить образование? Потому что наличие образования - можно считать условием успешности человека в жизни...
                </p>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/media/images/avdeefaforindex.original.png" class="testimonial-img" alt="">
                <h3>Авдеева Мария Валерьевна</h3>
                <h4>Заместитель директора
                  по учебной 
                  работе</h4>
                <p>
                   Секрет успеха студента заключается в вере в свои способности и постоянном стремлении к прогрессу, которые воплощаются в результативности и личностном развитии.               
                </p>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/media/images/malinnikovforindex.original.png" class="testimonial-img" alt="">
                <h3>Малинников Владимир Владимирович</h3>
                <h4>Заместитель директора по УПР</h4>
                <p>
                  Профессионалом может стать каждый!
                </p>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/media/images/mihailovaforindex.original.png" class="testimonial-img" alt="">
                <h3>Михайлова Светлана Валерьевна</h3>
                <h4>Заместитель 
                  директора по учебно-воспитательной 
                  работе</h4>
                <p>
                  Научить человека быть счастливым нельзя, но воспитать его так, чтобы он был счастлив, можно.
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Testimonials Section -->
    
    <section id="why-us" class="why-us">
      <div class="container-fluid" data-aos="fade-up">

        <header class="section-header">
          <h3>Почему мы?</h3>
          <p>Все очень просто, потому что техникум связи - лучший техникум связи в Курске</p>
        </header>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="why-us-img">
              <video class="img-fluid" controls="controls" poster="{% static 'img/shortcut.png' %}">
                <source src="{% static 'img/mainvideo.mp4' %}">
               </video>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
            
              <div class="features clearfix" data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-mortarboard-fill" style="color: #716a6a;"></i>
                <h4>Топ-50</h4>
                <p>Техникум идет в ногу со временем и открывает новые востребованные специальности</p>
              </div>

              <div class="features clearfix" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-person-workspace" style="color: #021ba9;"></i>
                <h4>Профессионалы</h4>
                <p>В техникуме созданы площадки для проведения региональных чемпионатов по 4 компетенциям: Сетевое и системное администрирование, Структурированные кабельные сети, Разработка игр и мультимедийных приложений, Реклама. Студенты принимают участие в большинстве чемпионатов IT направления.</p>
              </div>

              <div class="features clearfix" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-card-checklist" style="color: #589af1;"></i>
                <a href="/workshop"><h4>Современные мастерские</h4></a>
                <p>3 ультрасовременных мастерских, соответствующих требованиям международных стандартов Вордскилс.</p>
              </div>
              <div class="features clearfix" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-palette-fill" style="color: #f058dc;"></i>
                <h4>Творческие студии</h4>
                <p>Организованные в техникуме вокальная  и театральная студии - это условие успешной творческой самореализации.</p>
              </div>
              <div class="features clearfix" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-stopwatch-fill" style="color: #f0e04d;"></i>
                <h4>Спорт</h4>
                <p>Стань участником самых значимых областных и всероссийских спортивных мероприятий.</p>
              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="container">
        <div class="row counters" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="82" data-purecounter-duration="1" class="purecounter"></span>
            <p>Года</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="36540" data-purecounter-duration="1" class="purecounter"></span>
            <p>Выпусников</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="919" data-purecounter-duration="1" class="purecounter"></span>
            <p>Студентов</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="148" data-purecounter-duration="1" class="purecounter"></span>
            <p>Проектов</p>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    
      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients">
        <div class="container" data-aos="zoom-in">
  
          <header class="section-header">
            <h3>Наши партнеры</h3>
          </header>
          <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide"><img src="{% static 'img/clients/client-6.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'img/clients/client-7.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'img/clients/client-1.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'img/clients/client-2.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'img/clients/client-3.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'img/clients/client-4.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'img/clients/client-5.png' %}" class="img-fluid" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Clients Section -->
  
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="zoom-out">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 class="cta-title">Заходите в нашу группу в Вконтакте!</h3>
            <p class="cta-text">Актуальные новости, яркие моменты жизни техникума и многое другое ждёт тебя там!</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="https://vk.com/ktskursk" target="_blank">Группа в VK</a>
          </div>
        </div>

      </div>
    </section><!--  End Call To Action Section -->
<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>Ответы на часто задаваемые вопросы</h3>
    </header>
<br>
    <ul class="faq-list" data-aso="fade-up" data-aos-delay="100">

      <li>
        <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">На какие специальности и профессии будет осуществляться набор в этом году?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            На 2022-2023 уч. год техникум осуществляет набор на базе 9 классов на следующие <strong>специальности:</strong>
          </p>
          <br>
            <ul> 
              <li>11.02.15 Инфокоммуникационные сети и системы связи</li>
              <li>09.02.06 Сетевое и системное администрирование</li>
              <li>09.02.07 Информационные системы и программирование</li>
              <li>42.02.01 Реклама</li>
              <li>11.02.12 Почтовая связь</li>
            </ul>
            <strong>профессии:</strong>
            <ul> 
              <li>15.01.21 Электромонтер охранно-пожарной сигнализации</li>
              <li>09.01.02 Наладчик аппаратного и программного обеспечения</li>
            </ul>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Как долго длится обучение по общеобразовательным предметам и когда начинаются дисциплины по специальности или профессии? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            Общеобразовательную программу (10-11 класс) студенты, обучающиеся на специальность, проходят за первый год обучения, а студенты, которые осваивают рабочую профессию - за 2 года.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Нужно ли сдавать вступительные экзамены при поступлении в техникум? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            На все профессии и специальности можно поступить по рейтингу аттестата (средний балл), кроме специальности 42.02.01 Реклама. Эта специальность подойдет творческим личностям. Вступительный экзамен проходит в виде творческого испытания.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Получают ли студенты техникума стипендию? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
          <p>
            Первое полугодие 1 курса все студенты получают стипендию. По результатам каждой сессии, студенты, которые были аттестованы на отметки «4» и «5» получают стипендию. Отличники и хорошисты, у которых большинство отметок "5", получают повышенную стипендию. В техникуме предусмотрена социальная стипендия всем категориям лиц, которые предоставили необходимые документы.
          </p>
        </div>
      </li>
    </ul>

  </div>
</section><!-- End F.A.Q Section -->
<section id="map">
<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/kurskiy_tekhnikum_svyazi/1170180562/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Курский техникум связи</a><a href="https://yandex.ru/maps/8/kursk/category/technical_college/184106244/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Техникум в Курске</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUFrPXftC" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
</section>
</main>

 
  <!-- <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-xl">
    
      
      <div class="modal-content">
                <div class="modal-body">
         <img src="/media/images/priemnaya_komissia.original.png" class="img-fluid">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>-->


{% endblock content %}
