{% load wagtailcore_tags %}

{% block content %}
    <h4>{{ page.title }}</h4>
    <p>
        {{ self.intro|richtext }}
    </p>
    <div class="form">
    <form action="{% pageurl page %}" method="POST">
        <div class="form-group">
            {% csrf_token %}
        <ul>
            <div class="form-group mt-3">
            {{ form.as_ul  }}
            </div>
        </ul>
        </div>
        <button type="submit">
            Submit Form
        </button>
    </form>
    </div>
{% endblock %}
