{# templates/courses/course_page.html #}

{% extends "base.html" %}

{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
  
      <ol>
        <li><a href="/">Главная</a></li>
        <li><a href="{{ page.get_parent.url }}">Курсы</a></li>
        <li>{{ page.title }}</li>
      </ol>
    </div>
    </section>
  <main id="main">
    <br>
    <div class="container">
        <h1>{{ page.course_name }}</h1>
        {% if page.full_cost %}
            <p>Полная стоимость курса: {{ page.full_cost }} руб.</p>
        {% endif %}
        {% if page.group_cost %}
            <p>Стоимость при наборе 12 человек: {{ page.group_cost }} руб.</p>
        {% endif %}
        {% if page.total_hours %}
            <p>Общий объем занятий: {{ page.total_hours }} часов</p>
        {% endif %}
        {% if page.description %}
            <p>{{ page.description }}</p>
        {% endif %}
        {% if page.skills %}
            <h3>Навыки, которые будут освоены на курсе:</h3>
            <p>{{ page.skills }}</p>
        {% endif %}
        {% if page.program_document %}
            <a href="{{ page.program_document.url }}" class="btn btn-secondary">Скачать программу курса</a>
        {% endif %}
        {% if page.contact_info %}
            <h3>Контактная информация:</h3>
            <p>{{ page.contact_info }}</p>
        {% endif %}
        
        {% if page.gallery_images.exists %}
            <h3>Галерея</h3>
            <div class="row">
                {% for image in page.gallery_images.all %}
                    <div class="col-md-4">
                        <img src="{{ image.image.url }}" class="img-fluid" alt="{{ image.caption }}">
                        {% if image.caption %}
                            <p>{{ image.caption }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
  </main>
{% endblock %}
