{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}
{% block content %}

      


<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
  
      <ol>
        <li><a href="/">Главная</a></li>
        <li><a href="{{ page.get_parent.url }}">Новости</a></li>
        <li>{{ page.title }}</li>
      </ol>
    </div>
    </section>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Post content -->
            <div class="col-md-8">
                <div class="section-row sticky-container">
                    <div class="main-post">
                        <h1>{{ page.title }}</h1>
                        {% if page.bg_image %}
                         {% image page.bg_image width-500 %}
                        {% endif %}
                        <p>{{ page.body|richtext }}
                            
                        </p>
                            {% for item in page.gallery_images.all %}
                            
                            <figure class="figure-img">
                                    {% image item.image fill-320x240 class="img-responsive"%}
                                    <figcaption>{{ item.caption }}</figcaption>
                                </figure>
                        
                                </div>
                            {% endfor %}
                            <a href="{{ page.get_parent.url }}">Вернуться к новостям</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}